---
import type { HTMLAttributes } from 'astro/types';

import { tv } from 'tailwind-variants';

type Props = HTMLAttributes<'p'>;

const itemDescription = tv({
  base: [
    'line-clamp-2 leading-snug font-normal text-balance text-muted-foreground',
    '[&>a]:underline [&>a]:underline-offset-4 [&>a:hover]:text-primary',
  ],
});

const { class: className, ...rest } = Astro.props;
---

<p class={itemDescription({ class: className })} data-slot='item-description' {...rest}>
  <slot />
</p>
