---
import SkillTagList from '@/components/skill-tag-list.astro';
import { skills } from '@/cv.json';
---

<section class='flex flex-col gap-6'>
  {
    skills.map(({ title, tags }) => (
      <article class='space-y-2'>
        <h2 class='text-2xl font-bold'>{title}</h2>
        <SkillTagList tags={tags} />
      </article>
    ))
  }
</section>
