---
import Component from '@components/Component.astro';
import Badge from '@components/ui/Badge.astro';
import LinkButton from '@components/ui/LinkButton.astro';
import LinkInline from '@components/ui/LinkInline.astro';
import SectionContainer from '@components/ui/SectionContainer.astro';
import SocialPill from '@components/ui/SocialPill.astro';
import GithubIcon from '@icons/GithubIcon.astro';
import LinkedinIcon from '@icons/LinkedinIcon.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout
  title='Design System porfolio'
  descripcion='El catálogo de componentes de nuestro porfolio'
>
  <SectionContainer>
    <Component name='Badge' separation>
      <Badge>Tailwind</Badge>
    </Component>

    <Component name='SocialPill' separation>
      <div class='flex'>
        <SocialPill href='https://linkedin.com/in/javalce'>
          <LinkedinIcon class='size-4 md:size-6' /> Linkedin
        </SocialPill>
      </div>
    </Component>

    <Component name='LinkButton' separation>
      <LinkButton href='https://github.com/javalce/porfolio'>
        <GithubIcon class='size-4 md:size-6' /> Github
      </LinkButton>
    </Component>

    <Component name='LinkInline'>
      <LinkInline href='https://github.com/javalce/porfolio'>
        Saber más{' '}
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='w-5'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          stroke-width='2'
          stroke='currentColor'
          fill='none'
          stroke-linecap='round'
          stroke-linejoin='round'
        >
          <>
            <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
            <path d='M9 6l6 6l-6 6'></path>
          </>
        </svg>
      </LinkInline>
    </Component>
  </SectionContainer>
</Layout>
