---
import Layout from '@/layouts/layout.astro';
---

<Layout>
  <h1 class='mb-4 text-3xl font-bold'>Experiencia</h1>
  <p class='text-lg'>
    Esta página está en construcción. Por favor, vuelva más tarde para ver las actualizaciones sobre
    mi experiencia profesional.
  </p>
</Layout>
