---
import About from '@/components/bento/about.astro';
import Experience from '@/components/bento/experience.astro';
import Intro from '@/components/bento/intro.astro';
import Projects from '@/components/bento/projects.astro';
import TechnologiesSlider from '@/components/bento/technologies-slider.astro';
import Layout from '@/layouts/layout.astro';
---

<Layout>
  <section class='grid w-full grid-cols-3 grid-rows-2 gap-2'>
    <Intro class='col-span-2 animate-fade-in-up delay-0' />
    <About class='col-span-1 row-span-2 animate-fade-in-up delay-300' />
    <Experience class='col-span-1 row-span-1 animate-fade-in-up delay-400' />
    <Projects class='col-span-1 row-span-1 animate-fade-in-up delay-200' />
    <TechnologiesSlider class='col-span-3 row-span-1 animate-fade-in-up delay-500' />
  </section>
</Layout>
