---
import { profile } from '@/cv.json';
import Layout from '@/layouts/layout.astro';

const { about } = profile;
---

<Layout>
  <section class='text-muted-foreground text-pretty [&>p]:mb-4'>
    {about.map((text) => <p>{text}</p>)}
  </section>
</Layout>
