---
import About from '@components/about.astro';
import Experience from '@components/experience.astro';
import Hero from '@components/hero.astro';
import Projects from '@components/projects.astro';
import SectionContainer from '@components/ui/section-container.astro';
import BriefcaseIcon from '@icons/briefcase-icon.astro';
import CodeIcon from '@icons/code-icon.astro';
import ProfileIcon from '@icons/profile-icon.astro';
import Layout from '@layouts/layout.astro';
---

<Layout
  title='Porfolio de javalce - Desarrollador y Programador Web con 2 años de expediencia'
  descripcion='Contrata a javalce para crear tu aplicación web. Desarrollador Web Full Stack. Especializado en crear aplicaciones para la visualización de datos.'
>
  <main class='px-4'>
    <SectionContainer class='py-16 md:py-16'>
      <Hero />
    </SectionContainer>

    <div class='space-y-24'>
      <SectionContainer id='experience'>
        <h2 class='mb-6 flex items-center gap-x-3 text-3xl font-semibold'>
          <BriefcaseIcon class='size-8' /> Experiencia laboral
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id='projects'>
        <h2 class='mb-6 flex items-center gap-x-3 text-3xl font-semibold'>
          <CodeIcon class='size-8' /> Proyectos
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer id='about'>
        <h2 class='mb-6 flex items-center gap-x-3 text-3xl font-semibold'>
          <ProfileIcon class='size-8' /> Sobre mí
        </h2>
        <About />
      </SectionContainer>
    </div>
  </main>
</Layout>
