---
import type { HTMLAttributes } from 'astro/types';

import { tv } from 'tailwind-variants';

type Props = HTMLAttributes<'p'>;

const bentoCardDescription = tv({
  base: ['leading-snug font-normal text-balance text-muted-foreground'],
  variants: {
    trauncate: {
      true: 'line-clamp-2',
    },
  },
});

const { class: className, ...rest } = Astro.props;
---

<p class={bentoCardDescription({ class: className })} data-slot='bento-card-description' {...rest}>
  <slot />
</p>
