<section class='flex flex-col items-center justify-center gap-8 md:flex-row'>
  <div
    class='text-pretty [&>p>strong]:font-semibold [&>p>strong]:text-yellow-400 [&>p]:mb-4'
  >
    <p>
      Me llamo Javier Valero y tengo 25 años. <strong>
        Estudié
        <em class='italic'>Ingeniería Multimedia</em> y un
        <em class='italic'>
          Máster Universitario en Tecnologías Web, Computación en la Nube y
          Aplicaciones Móbiles
        </em>, ambos por la Universitat de València.
      </strong> Posteriormente, he trabajado en el mundo del desarrollo web y disfurto
      creando experiencias web para los usuarios.
    </p>

    <p>
      Desde que terminé mis estudios, y también durante ellos, he trabajado en
      <strong>crear páginas web para la visualización de datos</strong>. Me
      encanta trabajar con datos desde una base de datos y que los usuarios
      puedan interactuar con ellos de una forma sencilla y atractiva.
    </p>
  </div>
  <img
    class='order-1 size-64 rounded-full md:order-2'
    src='https://avatars.githubusercontent.com/u/56077652?v=4'
    alt='Javier foto'
  />
</section>
