---
import Link from './ui/link.astro';
---

<footer class='container mx-auto py-6'>
  <p class='text-center text-sm text-muted-foreground'>
    Built by <Link href='https://github.com/javalce' target='_blank' rel='noopener noreferrer'
      >javalce</Link
    >. The source code is available on <Link
      href='https://github.com/javalce/portfolio'
      target='_blank'
      rel='noopener noreferrer'>GitHub</Link
    >.
  </p>
</footer>
