<header
  class='sticky top-0 z-10 mx-auto flex w-full items-center justify-center py-5 xl:w-[1120px]'
>
  <nav
    class='flex flex-row items-center rounded-full border border-black bg-black/50 px-3 py-1 backdrop-blur-2xl'
  >
    <a
      class='rounded-full px-2 text-sm transition hover:bg-white/10 sm:px-3 sm:text-base'
      href='/#experience'>Experiencia</a
    >
    <a
      class='rounded-full px-2 text-sm transition hover:bg-white/10 sm:px-3 sm:text-base'
      href='/#projects'>Proyectos</a
    >
    <a
      class='rounded-full px-2 text-sm transition hover:bg-white/10 sm:px-3 sm:text-base'
      href='/#about'>Sobre mí</a
    >
    <a
      class='rounded-full px-2 text-sm transition hover:bg-white/10 sm:px-3 sm:text-base'
      href='/#contact'>Contacto</a
    >
  </nav>
</header>
