---
import ThemeToggle from './theme-toggle.astro';
---

<header
  class='h-16 w-full border-b bg-background/95 backdrop-blur-md supports-backdrop-filter:bg-background/95'
>
  <div class='container mx-auto flex h-full flex-col justify-center px-6'>
    <nav class='flex items-center justify-end'>
      <ThemeToggle />
    </nav>
  </div>
</header>
