---
import DownloadIcon from '@/icons/download-icon.astro';
import GithubIcon from '@/icons/github-icon.astro';
import LinkedInIcon from '@/icons/linkedin-icon.astro';
import LocationIcon from '@/icons/location-icon.astro';
import MessageIcon from '@/icons/message-icon.astro';

const links = [
  {
    Icon: GithubIcon,
    link: 'https://github.com/javalce',
    text: 'GitHub',
  },
  {
    Icon: LinkedInIcon,
    link: 'https://linkedin.com/in/javalce',
    text: 'LinkedIn',
  },
  {
    Icon: MessageIcon,
    link: 'mailto:javalce29@gmail.com',
    text: 'Email',
  },
  {
    Icon: DownloadIcon,
    link: '/CV_Javier_Valero_Cejudo.pdf',
    text: 'Descargar CV',
  },
];
---

<section
  class='600 flex w-full flex-col justify-between border-b p-8 md:w-2/5 md:border-r md:border-b-0 md:p-6'
>
  <div class='flex flex-col items-center gap-6 text-center sm:items-start sm:text-left'>
    <div class='flex flex-col gap-4 sm:flex-row sm:items-center'>
      <img
        class='border-primary mx-auto size-24 rounded-xl border-2 object-cover sm:mx-0'
        src='/profile.webp'
        alt='Javier Valero'
      />
      <div>
        <h1 class='relative mb-1 inline-block text-2xl font-extrabold'>Javier Valero</h1>
        <p class='text-primary mb-2 text-sm'>Desarrollador Full Stack</p>
        <p class='text-muted-foreground flex items-center justify-center text-sm sm:justify-start'>
          <LocationIcon class='-mt-0.5 mr-2 inline size-4' /> Valencia, Espa침a
        </p>
      </div>
    </div>
    <p class='text-muted-foreground mt-4 text-sm leading-relaxed'>
      +2 a침os de experiencia. Desarrollador Web Full Stack de Valencia, Espa침a. Especializado en el
      desarrollo de aplicaciones para la visualizaci칩n de datos.
    </p>
  </div>
  <footer>
    <section class='bg-terminal mt-6 rounded-lg border p-4 text-xs'>
      <div class='mb-2 flex items-center'>
        <span class='text-primary mr-2'>$</span>
        <span class='text-terminal-foreground'>npx connect</span>
      </div>
      <div class='text-terminal-foreground mt-2'>
        Initializing...
        <br />
        Ready to connect.
        <br />
        Waiting for contact request...
      </div>
    </section>
    <section class='mt-6 flex flex-wrap justify-between gap-4'>
      {
        links.map(({ Icon, link, text }) => (
          <a
            href={link}
            target='_blank'
            rel='noopener noreferrer'
            class='hover:bg-primary flex size-10 items-center justify-center rounded-lg border transition-all duration-150 hover:-translate-y-0.5'
            title={text}
            aria-label={text}
          >
            <Icon class='size-5' />
          </a>
        ))
      }
    </section>
  </footer>
</section>
