---
import Badge from '@components/ui/Badge.astro';
import SocialPill from '@components/ui/SocialPill.astro';
import DownloadIcon from '@icons/DownloadIcon.astro';
import GithubIcon from '@icons/GithubIcon.astro';
import LinkedInIcon from '@icons/LinkedinIcon.astro';
import MailIcon from '@icons/MailIcon.astro';
---

<div class='max-w-2xl'>
  <div class='mb-4 flex gap-4'>
    <img
      class='size-16 rounded-full shadow-lg'
      src='/profile.webp'
      alt='Javier Valero'
    />
    <a
      href='https://linkedin.com/in/javalce'
      target='_blank'
      rel='noopener noreferrer'
      class='flex items-center transition md:justify-center md:hover:scale-105'
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1 class='text-4xl font-bold tracking-tight text-white sm:text-5xl'>
    Hey, soy Javier Valero
  </h1>
  <p
    class='mt-6 max-w-lg text-xl text-gray-300 [&>strong]:font-semibold [&>strong]:text-yellow-200'
  >
    +2 a침os de experiencia. <strong>Desarrollador Web Full Stack</strong> de Valencia,
    Espa침a. Especializado en el desarrollo de aplicaciones para visualizaci칩n de
    datos.
  </p>
  <nav class='mt-8 flex flex-wrap gap-4'>
    <SocialPill href='mailto:javalce29@gmail.com'>
      <MailIcon class='size-4' />
      Cont치ctame
    </SocialPill>
    <SocialPill href='https://linkedin.com/in/javalce'>
      <LinkedInIcon class='size-4' />
      LinkedIn
    </SocialPill>
    <SocialPill href='https://github.com/javalce'>
      <GithubIcon class='size-4' />
      GitHub
    </SocialPill>
    <SocialPill href='/CV_Javier_Valero_Cejudo.pdf'>
      <DownloadIcon /> Descargar CV
    </SocialPill>
  </nav>
</div>
