---
import ThemeToggle from './theme-toggle.astro';

import FileIcon from '@/icons/file-icon.astro';
import { cn } from '@/lib/utils';

const { pathname } = Astro.url;
const normalizedPathname =
  pathname.length > 1 && pathname.endsWith('/') ? pathname.slice(0, -1) : pathname;

const navItems = [
  {
    title: 'README.md',
    url: '/',
  },
  {
    title: 'experiencia.md',
    url: '/experience',
  },
  {
    title: 'proyectos.md',
    url: '/projects',
  },
  {
    title: 'skills.md',
    url: '/skills',
  },
];
---

<nav class='sticky top-0 z-10 flex items-center border-b'>
  {
    navItems.map(({ title, url }) => (
      <a
        href={url}
        class={cn(
          'hover:text-primary flex items-center gap-2 border-r px-4 py-2 text-xs transition-colors duration-200 ease-in-out',
          {
            'border-b-primary border-b-2': normalizedPathname === url,
          },
        )}
        aria-label={title}
      >
        <FileIcon class='size-4' /> {title}
      </a>
    ))
  }
  <div class='flex flex-1 flex-row-reverse pr-4'>
    <ThemeToggle />
  </div>
</nav>
