---
interface Props {
  id?: string;
  class?: string;
}

const { id, class: className } = Astro.props;
---

<section id={id} class=`mx-auto w-full lg:w-[740px] pb-24 ${className}`>
  <slot />
</section>
