---
import { Icon } from 'astro-icon/components';

import { Dropdown, DropdownContent, DropdownItem, DropdownTrigger } from '@/components/ui/dropdown';

import Button from './ui/button.astro';
---

<Dropdown>
  <DropdownTrigger asChild>
    <Button transition:persist variant='ghost' size='icon'>
      <span class='sr-only'>Elige el tema</span>
      <Icon name='sun' class='transition-all duration-300' data-theme='light' aria-hidden='true' />
      <Icon
        name='moon'
        class='absolute transition-all duration-300'
        data-theme='dark'
        aria-hidden='true'
      />
      <Icon
        name='system'
        class='absolute transition-all duration-300'
        data-theme='system'
        aria-hidden='true'
      />
    </Button>
  </DropdownTrigger>
  <DropdownContent align='end'>
    <DropdownItem data-theme='light' class='theme-option'>Claro</DropdownItem>
    <DropdownItem data-theme='dark' class='theme-option'>Oscuro</DropdownItem>
    <DropdownItem data-theme='system' class='theme-option'>Sistema</DropdownItem>
  </DropdownContent>
</Dropdown>

<script>
  const THEME_KEY = 'theme';
  const prefersDark = window.matchMedia('(prefers-color-scheme: dark)');
  const themeIcons = document.querySelectorAll<HTMLElement>('svg[data-theme]');
  const themeOptions = document.querySelectorAll<HTMLDivElement>('.theme-option');

  function applyTheme() {
    const storedTheme = localStorage.getItem(THEME_KEY) ?? 'system';
    const isDark = storedTheme === 'dark' || (storedTheme === 'system' && prefersDark.matches);

    themeIcons.forEach((el) => {
      el.style.scale = el.dataset.theme === storedTheme ? '1' : '0';
    });

    document.documentElement.classList.toggle('dark', isDark);
  }

  function handleToggleThemeEvent(ev: Event) {
    const el = ev.currentTarget as HTMLElement;
    const theme = el.dataset.theme as string;

    if (theme === 'system') {
      localStorage.removeItem(THEME_KEY);
    } else {
      localStorage.setItem(THEME_KEY, theme);
    }

    applyTheme();
  }

  function initToggleTheme() {
    applyTheme();

    themeOptions.forEach((el) => {
      el.removeEventListener('click', handleToggleThemeEvent);
      el.addEventListener('click', handleToggleThemeEvent);
    });
  }

  initToggleTheme();

  document.addEventListener('astro:after-swap', initToggleTheme);
</script>
