---
import MoonIcon from '@/icons/moon-icon.astro';
import SunIcon from '@/icons/sun-icon.astro';
import SystemIcon from '@/icons/system-icon.astro';
import { Dropdown, DropdownContent, DropdownItem, DropdownTrigger } from '@/components/ui/dropdown';
---

<Dropdown>
  <DropdownTrigger asChild>
    <button
      transition:persist
      class='flex cursor-pointer appearance-none border-none transition hover:scale-125'
    >
      <span class='sr-only'>Elige el tema</span>
      <SunIcon class='size-5 transition-all' data-theme='light' aria-hidden='true' />
      <MoonIcon class='absolute size-5 transition-all' data-theme='dark' aria-hidden='true' />
      <SystemIcon class='absolute size-5 transition-all' data-theme='system' aria-hidden='true' />
    </button>
  </DropdownTrigger>
  <DropdownContent align='end'>
    <DropdownItem data-theme='light' class='theme-option'>Claro</DropdownItem>
    <DropdownItem data-theme='dark' class='theme-option'>Oscuro</DropdownItem>
    <DropdownItem data-theme='system' class='theme-option'>Sistema</DropdownItem>
  </DropdownContent>
</Dropdown>

<script>
  let remove: Function | null = null;
  const matchMedia = window.matchMedia('(prefers-color-scheme: dark)');

  function updateTheme() {
    if (remove) remove();

    const themePreference = localStorage.getItem('theme') ?? 'system';
    const isDark =
      themePreference === 'dark' || (themePreference === 'system' && matchMedia.matches);

    document.querySelectorAll<HTMLElement>('svg[data-theme]').forEach((el) => {
      el.style.scale = el.dataset.theme === themePreference ? '1' : '0';
    });
    document.documentElement.classList.toggle('dark', isDark);
    document.documentElement.classList.toggle('light', !isDark);

    matchMedia.addEventListener('change', updateTheme);
    remove = () => matchMedia.removeEventListener('change', updateTheme);
  }

  updateTheme();

  document.querySelectorAll<HTMLDivElement>('.theme-option').forEach((el) => {
    el.addEventListener('click', () => {
      const theme = el.dataset.theme as string;

      localStorage.setItem('theme', theme);
      updateTheme();
    });
  });

  document.addEventListener('astro:after-swap', updateTheme);
</script>
