---
import type { HTMLAttributes } from 'astro/types';

import {
  BentoCard,
  BentoCardContent,
  BentoCardFooter,
  BentoCardTitle,
} from '@/components/ui/bento-card';
import Button from '@/components/ui/button.astro';
import { projects } from '@/data/projects';

interface Props extends Pick<HTMLAttributes<'div'>, 'class'> {}

const { class: className } = Astro.props;
---

<BentoCard class={className}>
  <BentoCardContent>
    <BentoCardTitle>Proyectos</BentoCardTitle>
    <div class='space-y-2'>
      {
        projects.slice(0, 3).map((project) => (
          <article>
            <h3 class='text-lg font-semibold'>{project.name}</h3>
            <p class='line-clamp-1 text-muted-foreground'>{project.description}</p>
          </article>
        ))
      }
    </div>
  </BentoCardContent>
  <BentoCardFooter>
    <Button variant='link' href='/projects'>Ver más</Button>
  </BentoCardFooter>
</BentoCard>
