---
import { ClientRouter } from 'astro:transitions';

import Hero from '@/components/hero.astro';

import '@/styles/global.css';

const title = 'Portfolio de javalce - Desarrollador y Programador Web con 2 años de expediencia';
const description =
  'Desarrollador Web Full Stack. Especializado en crear aplicaciones para la visualización de datos.';
---

<!doctype html>
<html lang='es' class='dark'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class='flex min-h-screen items-center justify-center p-4'>
    <main
      class='dark:shadow-foreground/10 relative mb-12 flex max-w-full flex-col overflow-hidden rounded-2xl border shadow-2xl md:mb-4 md:max-w-7xl md:flex-row'
    >
      <Hero />
      <div class='w-full p-0 md:w-4/5'>
        <div class='flex h-[90vh] min-h-full flex-col'>
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>
