---
import { ClientRouter } from 'astro:transitions';

import Footer from '@/components/footer.astro';
import Header from '@/components/header.astro';

import '@/styles/global.css';

const title = 'Portfolio de javalce - Desarrollador y Programador Web con 2 años de expediencia';
const description =
  'Desarrollador Web Full Stack. Especializado en crear aplicaciones para la visualización de datos.';

const { pathname } = Astro.url;
---

<!doctype html>
<html lang='es' class='dark'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class='grid min-h-dvh grid-rows-[auto_1fr_auto] gap-4 antialiased'>
    <Header currentPage={pathname} />
    <main class='mx-auto max-w-7xl space-y-8'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
