---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  target='_blank'
  rel='noopener noreferrer'
  class='text-md group inline-flex max-w-fit items-center justify-center gap-2 space-x-2 rounded-xl border border-gray-600 bg-gray-800 px-3 py-2 text-base text-white transition hover:border-gray-900 hover:bg-gray-800 hover:text-white focus:outline-hidden focus-visible:ring-3 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:outline-hidden active:bg-black'
>
  <slot />
</a>
