---
import { cn } from '@lib/utils';

interface Props {
  id?: string;
  class?: string;
}

const { id, class: className } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={cn(
    'mx-auto w-full lg:max-w-4xl md:max-w-2xl section container',
    className,
  )}
>
  <slot />
</section>
