---
import { cn } from '@lib/utils';

interface Props {
  id?: string;
  class?: string;
}

const { id, class: className } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={cn('mx-auto w-full lg:w-[740px] pb-24 section', className)}
>
  <slot />
</section>
